@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@600&family=League+Spartan:wght@300&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'Spartan-Regular';
  src: url('./fonts/Spartan-ExtraBold.ttf');
}
@font-face {
  font-family: 'Spartan-light';
  src: url('./fonts/Spartan-Regular.ttf');
}

:root {
  --bg-color: #419EBB;
 

  background-image: url(/assets/background-stars.svg);
  background-color: #070724;
  color: #fff;


}

a {
  /* font-family: 'Antonio', sans-serif; */
  font-family: 'Spartan-Regular';
  font-weight: 500;
  color: #fff;
  text-decoration: inherit;
}


h1 {
  font-size: 1.2em;
  font-weight: 600;
  font-family: 'Antonio', sans-serif;
  line-height: 1.1;
}